.box {
    width: 210px;
    height: 210px;
    position: relative;
    top: 130px;;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(184, 184, 221);
  }

  .mainBox {
    width: 210px;
    height: 210px;
    border-radius: 6px;
    position: relative;
    top: 50px;
    left: 100px;
    margin-left: 20px;
    border: 1px solid green;
  }
  
  .day {
    position: absolute;
    left: 35%;
    top: 10%;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  
  .img {
    position: absolute;
    left: 6%;
    top: 37%;
    font-size: 1.5em;
  }

  .img img {
    width: 120%;
  }
  
  .temmax {
    position: absolute;
    left: 35%;
    top: 41%;
    font-size: 2.4em;
  }
  
  .temmin {
    position: absolute;
    left: 58%;
    bottom: 39%;
    font-size: 1.7em;
    color: gray;
  }

  .unit {
    position: absolute;
    left: 80%;
    top: 43%;
    font-size: .9em;
    color: gray;
    cursor: pointer;
  }

  .selected {
    color: black;
  }

  .miscDetails {
    position: absolute;
    margin: auto;
    color: gray;
    bottom: 6%;
    text-align: left;
    left: 10%;
    font-size: 1em;
  }

  .head {
    position: absolute;
    text-align: left;
    color: gray;
    font-size: 1.1em;
    left: 10%;
    top: 7%;
    cursor: pointer;
  }